@model sistema_AAPM_Senai.Models.Usuario

@{
    ViewBag.Title = "cadastroAlunos";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="~/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Styles -->
    <link href="~/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/style.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
</head>
<body>
    <header class="site-header">

        <div class="nav-bar" id="section1" style="height:79px">
            <div class="container" style="height:70px">
                <div class="row" style="height:55px">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="~/Principal/Principal" rel="home"><img class="d-block" src="~/images/aapm.png" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                @*<li><a href="~/Adm/CadastroFuncionarios" style="height:10px">Funcionários</a></li>
                                    <li><a href="~/Adm/CadastroAAPM" style="height:10px">AAPM </a></li>*@
                                <li><a id="myBtn1">Alunos</a></li>

                                <!-- The Modal -->
                                <div id="myModal1" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <center>
                                            <p>Escolha uma opção</p>
                                            <a href="~/Funcionario/cadastroAlunos"><button class="btn btn-default">CADASTRAR ALUNOS</button></a>
                                            <br /><br />
                                            <a href="~/Funcionario/listaAlunos"><button class="btn btn-default">VER ALUNOS</button></a>
                                        </center>
                                    </div>

                                </div>

                                <script>
                                    // Get the modal
                                    var modal = document.getElementById('myModal1');

                                    // Get the button that opens the modal
                                    var btn = document.getElementById("myBtn1");

                                    // Get the <span> element that closes the modal
                                    var span = document.getElementsByClassName("close")[0];

                                    // When the user clicks the button, open the modal
                                    btn.onclick = function () {
                                        modal.style.display = "block";
                                    }

                                    // When the user clicks on <span> (x), close the modal
                                    span.onclick = function () {
                                        modal.style.display = "none";
                                    }

                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function (event) {
                                        if (event.target == modal) {
                                            modal.style.display = "none";
                                        }
                                    }
                                </script>

                                <li><a id="myBtn2">Produtos</a></li>
                                <!-- The Modal -->
                                <div id="myModal2" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close2">&times;</span>
                                        <center>
                                            <p>Escolha uma opção</p>
                                            <a href="~/Adm/cadastroAAPM"><button class="btn btn-default">CADASTRAR PRODUTOS</button></a>
                                            <br /><br />
                                            <a href="~/Adm/listaAAPM"><button class="btn btn-default">VER PRODUTOS</button></a>
                                        </center>
                                    </div>

                                </div>

                                <script>
                                    // Get the modal
                                    var modal2 = document.getElementById('myModal2');

                                    // Get the button that opens the modal
                                    var btn2 = document.getElementById("myBtn2");

                                    // Get the <span> element that closes the modal
                                    var span2 = document.getElementsByClassName("close2")[0];

                                    // When the user clicks the button, open the modal
                                    btn2.onclick = function () {
                                        modal2.style.display = "block";
                                    }

                                    // When the user clicks on <span> (x), close the modal
                                    span2.onclick = function () {
                                        modal2.style.display = "none";
                                    }

                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function (event) {
                                        if (event.target == modal) {
                                            modal2.style.display = "none";
                                        }
                                    }
                                </script>
                                }
                                }

                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="height:560px;">
            <img src="~/images/principal.png" alt="">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">

                                <h4>Sistema de gerenciamento</h4>
                                <center>
                                    <h1>da AAPM</h1>
                                </center>

                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <div style="width:790px;height:180px;">
                                    <center>
                                        <p>Clique na seta para cadastrar</p>
                                        <a href="#section2"><img src="~/images/Seta-dir.png" style="width:100px; height:100px;" /></a>
                                    </center>
                                </div>
                            </div><!-- .entry-content -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div><!-- .swiper-wrapper -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <center>
            <br />
            <div class="form-horizontal" id="section2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Cod_escola">Código da escola</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cod_escola, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cod_escola, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Cod_usuario">Código do usuário</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cod_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cod_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ddd, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ddd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ddd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Numero">Número</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Tipo_usuario">Tipo de usuário</label>
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Tipo_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tipo_usuario, "", new { @class = "text-danger" })*@
                        <input class="form-control text-box single-line" id="Tipo_usuario" name="Tipo_usuario" type="text" value="Alunos" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cadastrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </center>
    }
    <center>
        <div>
            <a href="~/Funcionario/listaAlunos"><button class="btn btn-default">Ir para a lista</button></a>
            @*@Html.ActionLink("IR PARA LISTA", "listaFuncionarios")*@
        </div>
        <br />
    </center>
</body>
</html>
